.review {
  padding: 12px;
  border-radius: 10px;
  background-color: var(--review-bg);
  margin-bottom: 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}
