.page {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.tab {
  border-radius: 10px;
  padding: 10px 16px;
  background-color: var(--button-bg);
  color: var(--button-text);
  text-decoration: none;
  font-weight: 600;
}

.activeTab {
  background-color: var(--button-active-bg);
  color: var(--button-active-text);
}
