.tabs {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 24px;
}

.tabButton {
  border: none;
  border-radius: 10px;
  padding: 10px 16px;
  background-color: var(--button-bg);
  color: var(--button-text);
  cursor: pointer;
}

.tabButton:hover {
  background-color: var(--button-bg-hover);
}

.activeTabButton {
  background-color: var(--button-active-bg);
  color: var(--button-active-text);
  cursor: default;
}